{% extends 'externo/base.html' %}

{% block contenido %}

<div class="container">
    <h2>Sobre Nosotros</h2>

    <p>
        Bienvenidos a <strong>Capricci del Mondo</strong>, donde ofrecemos las mejores marcas traídas de todo el mundo. Nuestro objetivo es brindarte productos de calidad y un servicio excepcional.
    </p>

    <p>
        Nos enorgullece ser tu elección para productos exclusivos y de alta calidad. Gracias por confiar en nosotros.
    </p>

    <p>
        En <strong>Capricci del Mondo</strong>, nos dedicamos a ofrecer una experiencia de compra única. Desde la selección de productos hasta el servicio al cliente, cada detalle cuenta.
    </p>

    <p>
        Desde nuestra fundación, hemos trabajado arduamente para construir una reputación sólida en la industria. Nuestro equipo está compuesto por expertos apasionados que se esfuerzan por brindarte lo mejor en cada compra.
    </p>

    <p>
        Nos comprometemos a ofrecerte productos de calidad y un servicio excepcional. Cada artículo que ofrecemos ha sido cuidadosamente seleccionado para garantizar tu satisfacción.
    </p>

    <p>
        Si tienes alguna pregunta o necesitas más información, no dudes en contactarnos. Estamos aquí para ayudarte y asegurarnos de que tengas la mejor experiencia de compra posible.
    </p>

    <p>
        Puedes contactarnos a través de teléfono o correo electrónico. Estamos disponibles para responder a tus preguntas y brindarte asistencia personalizada.
    </p>

    <ul>
        <li><strong>Teléfono:</strong> +34 123 456 789</li>
        <li><strong>Email:</strong> customerservice@capriccidelmondo.com</li>
    </ul>

    <p>
        ¡Gracias por elegir <strong>Capricci del Mondo</strong>! Esperamos verte pronto en nuestra tienda.
    </p>

    <p>
        Atentamente,<br>
        <strong>Daniela Espósito</strong><br>
        Fundadora y Directora General<br>
        <strong>Capricci del Mondo</strong><br>
        daniela.p.esposito@gmail.com
    </p>
</div>

<style>
    .container {
        margin-top: 20px;
        line-height: 1.6; /* Mejorar la legibilidad */
    }

    h2 {
        color: #333;
        font-size: 2rem;
        margin-bottom: 20px;
        text-align: center; /* Centrar el título */
    }

    p {
        font-size: 1.2rem;
        color: #555;
        margin: 15px 0;
        text-align: justify; /* Justificar el texto */
    }

    ul {
        margin: 15px 0;
        padding-left: 20px;
    }

    ul li {
        font-size: 1.2rem;
        color: #555;
        margin-bottom: 10px;
    }

    strong {
        color: #333; /* Resaltar texto importante */
    }
</style>

{% endblock %}