{% extends 'externo/base.html' %}

{% block contenido %}

<div class="container">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Fecha</th>
                <th>Vendedor</th>
                <th>Productos</th>
                <th>Total</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido_data in pedidos_data %}
            <tr>
                <td>{{ pedido_data.pedido.id }}</td>
                <td>{{ pedido_data.pedido.cliente.nombre }} {{ pedido_data.pedido.cliente.apellido }}</td>
                <td>{{ pedido_data.pedido.fecha }}</td>
                <td>{{ pedido_data.pedido.vendedor.nombre }} {{ pedido_data.pedido.vendedor.apellido }}</td>
                <td>
                    <ul>
                        {% for producto in pedido_data.productos %}
                        <li>{{ producto.producto.nombre }} - Cantidad: {{ producto.cantidad }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ pedido_data.total }}</td>
                <td>{{ pedido_data.pedido.estado }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}