<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capricci del Mondo</title>
</head>
<body>
    <h1>Detalle del Producto</h1>
    <h2>Nombre: {{ producto.nombre }}</h2>
    <h2>Descripción: {{ producto.descripcion }}</h2>
    <p>Precio: {{ producto.precio }}</p>
    <p>Stock: {{ producto.stock }}</p>
    <p>Proveedores:</p>
    <ul>
        {% for proveedor in producto.proveedores.all %}
            <li>{{ proveedor.nombre }} - {{ proveedor.contacto }}</li>
        {% endfor %}
    </ul>
</body>
</html>