{% extends 'myapp/base.html' %}

{% block contenido %}

<div class="container">
    <h2>Información del Vendedor</h2>
    <p><strong>Nombre:</strong> {{ vendedor.nombre }}</p>
    <p><strong>Apellido:</strong> {{ vendedor.apellido }}</p>
    <p><strong>Teléfono:</strong> {{ vendedor.telefono }}</p>
    <p><strong>Email:</strong> {{ vendedor.email }}</p>
    <h3>Pedidos Gestionados:</h3>
    <ul>
        {% for pedido in vendedor.pedidos.all %}
            <li><a href="{% url 'detalle_pedido' pedido.id %}">{{ pedido.fecha }}</a></li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
