<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capricci del Mondo</title>
</head>
<body>
    <h1>Detalle del Vendedor</h1>
    <h2>Nombre: {{ vendedor.nombre }}</h2>
    <h2>Apellido: {{ vendedor.apellido }}</h2>
    <p>Teléfono: {{ vendedor.telefono }}</p>
    <p>Email: {{ vendedor.email }}</p>
    <p>Pedidos gestionados:</p>
    <ul>
        {% for pedido in vendedor.pedidos.all %}
            <li><a href="{% url 'pedidos_detail' pedido.id %}">{{ pedido.fecha }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>