{% extends 'myapp/base.html' %}

{% block contenido %}

<div class="container">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo Electrónico</th>
                <th>Teléfono</th>
            </tr>
        </thead>
        <tbody>
            {% for vendedor in vendedores %}
            <tr>
                <td>{{ vendedor.id }}</td>
                <td>{{ vendedor.nombre }}</td>
                <td>{{ vendedor.apellido }}</td>
                <td>{{ vendedor.email }}</td>
                <td>{{ vendedor.telefono }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}